@media screen and (max-width: 550px) {
    @import url(./style.css);


    .paralax {
        width: 100%;
        height: 450px;


    }

    .mov {
        order: 2;
    }



    .pral {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url(../images/programs/portada.jpg);
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;

    }

    #pral2 {
        margin-top: 25px;
        margin-bottom: 25px;
        background-image: url(../images/programs/Estudio.jpg);
        width: 100%;
        height: 50%;
        text-align: center;

    }

    .container .colub .btn {
        text-align: center;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 2rem;
        background: #00122C;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }

    .UNO {
        display: none;
    }

    .DOS {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: block;

    }


    p {
        text-align: center;
    }

    .colub {
        margin: 0vw;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    .fil {
        margin-left: auto;
        margin-right: auto;
    }

    .black {
        text-align: center;
        background-color: rgb(94, 87, 87);
        height: 60px;
        margin-top: 3px;
        margin-bottom: 3px;


    }

    .black a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .none {
        display: block;
    }

    .none-1 {
        display: none;
    }

    .btn {
        display: none;
    }

    .Last {
        padding: 2rem;
    }



}

@media screen and (min-width: 992px) {
    .mov {
        order: 2;
    }



}

@media screen and (max-width: 1200px) {
    .mov {
        order: 2;
    }

    .none-1 {
        display: none;
    }

    .none {
        display: block;
    }

    .black {

        text-align: center;
        background-color: rgb(94, 87, 87);
        height: 60px;
        margin-top: 3px;
        margin-bottom: 3px;


    }

    .fil {
        margin-left: auto;
        margin-right: auto;
    }

    .black a {
        width: 100%;
        color: blanchedalmond;
        text-decoration: none;
    }

    .none {
        display: block;
        padding: 0rem;
        padding: 0rem;
    }
}

#pass-icon,
#pass-icon2,
#pass-icon3 {
    cursor: pointer;
}