@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }

    .pill-container {
        display: flex;
        /* margin: 5% 0; */
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .info {
        margin: 1em;
        word-spacing: 4px;
        text-align: justify;
    }

    .imagen {
        width: 90%;
        border-radius: 1em;
    }

    /*----- cambiar nombres de clases ----- */
    .body-nav-link {
        /*Atributos agregados*/
        background-color: #132F57;
        color: white;
        width: 140%;
        margin-bottom: 1em;
    }

    .btn {
        padding: .5em;
        font-size: 18px;
        background-color: #132F57;
    }

    .body-dropdown {
        margin-bottom: 1em;
    }

    .body-dropdown-menu {
        text-align: center;
        background-color: #132F57;
    }

    .dropdown-item {
        color: white;
    }

    /* -------------------- */

    .icon {
        color: #00122C;
        margin-right: 1em;
        font-size: 45px;
    }

    

    .cotiza-cont-desktop {
        display: block;
        text-align: end;
        margin-right: 1em;
    }

    .cotiza-desktop {
        background-color: #132F57;
        color: white;
        
        border: none;
        border-radius: .5em;

        width: 8em;
        height: 3em;

    }

    .cotiza-desktop:hover {
        background-color: #00122C;
        color: white;
        cursor: pointer;
    }


    .cotiza-cont-mobile {
        display: none;
    }

    .country-container {
        display: flex;
        margin: 0 0 0 5em;
        padding: 0;
    }

    .icon-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 1em;
    }

    .icon-info {
        /*Atributos agregados*/
        display: flex;
        align-items: flex-start;
    }

    .icon-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .icon-text {
        margin-top: .5em;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icon-cont-item {
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: 45px;
    }

    .icon {
        margin: 1.2em 0;
    }

    .text {
        margin: 4.4em 1em;
    }
}

@media only screen and (min-width: 992px) {
    #navbar-lista {
        width: 85%;
    }

    #nav-dropdown {
        background-color: var(--color-secondary);
        top: 110%;
    }

    #btn-log-in {
        width: 8em;
        margin-left: 1em;
    }


    .icon-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon-text {
        margin-top: .8em;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


} 