@import url(./style.css);


@media screen and (min-width:0px) {}

@media screen and (min-width:px) {

    .paralax {
        width: 100%;
        height: 450px;


    }

    .mov {
        order: 2;
    }
}