@import url(./style.css);

@media screen and (min-width:0px) {}

@media screen and (min-width:992px) {

    .paralax {
        width: 100%;
        height: 450px;

    }

    .paralax p {
        font-size: 10em;
    }

    .paralax p {
        font-size: 10em;
    }

    .mov {
        order: 2;
    }
<<<<<<< HEAD
}


=======
}
>>>>>>> d92908c594635025346f5d9f7dac204dbbeee708
