.imagen {
    width: 80vw;
    border-radius: 1em;
}

.menu-desktop {
    display: none;
}

button[data-toggle="collapse"] {
    margin: 1em 0;
    border: none;
}

.dropdown {
    text-align: center;
    margin: 1em;
}

.btn {
    width: 100%;
    padding: .5em;
    font-size: 18px;
    background-color: #132F57;
}

.sort-down {
    font-size: 1.5em;
    margin-left: .3em;
    margin-bottom: .1em;
}

.nav-a {
    background-color: #00122C;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.bg-europa {
    background-image: url(../images/images-plans/bg-europa-md-jenny-kim-QnQmw0JfQr8-unsplash.jpg);
    width: 100%;
    height: 30vh;

    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position-y: -12em;
    background-repeat: no-repeat; */

}

.bg-asia {
    background-image: url(./images/images-plans/bg-asia-md-charles-postiaux-TnUG2pWraPE-unsplash.jpg);
    width: 100%;
    height: 30vh;

    background-position: center;
    background-size: cover;
}

.bg-africa {
    background-image: url(./images/images-plans/bg-africa-md-ron-dauphin-k-8-eX4Y3no-unsplash.jpg);
    width: 100%;
    height: 30vh;

    background-position: center;
    background-size: cover;
}

.dropdown-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
    background-color: #132F57;
}

.dropdown-item {
    color: white;
}

.nav-link {
    color: white;
}

.title {
    text-align: left;
    margin: .5em .4em;
}

.image-info-cont {
    text-align: center;
}

.info {
    margin: 1em .8em;
    word-spacing: 4px;
    text-align: justify;
}

.icon-info {
    display: flex;
    justify-content: space-evenly;
}

.icon-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.8em;
}

.icon-text {
    margin-top: 1.4em;
    height: 100%;
    font-size: 1.2em;
}

.cotiza-cont-desktop {
    display: none;
}

.cotiza-cont-mobile {
    margin: 1em 0 1.5em 0;
}

.cotiza {
    display: block;
    margin: auto;

    padding: .8em;

    border: 1px solid grey;
    border-radius: .5em;

    height: 15%;
    width: 40%;

    background-color: #132F57;
    color: white;

    outline: 0;
}

.footer {
    background-color: #00122C;
    width: 100%;
    height: 10vh;
    margin-top: 1em;
}